{% extends "base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class='text-center'>
    <h1>{{user.first_name}} {{user.last_name}} </h1>
    <small class='text-primary'>{{user}} {{user.email}} </small>
    <a href="{% url 'editinfo' user.id %}" class='btn btn-warning'>Edit User Informations</a>
</div>
<h1 class='bg-success text-white mt-5'> Your Purchase historY: {{Your_Cars}} </h1>

<div class='my-3 border w-100'>
    {% for history in histories %}
    <div class='border w-100 my-3 d-flex '>
        <div class='me-5'>
            <img src="{{history.car.image}}" alt="" style="width: 300px;">
        </div>
        <div id='car_informations' class=''>
            
            <small>{{history.time}}</small>
            <h5 class="card-title">car : {{history.car}}</h5>
            <h5 class=" mx-auto">Price : {{history.car.price}}$</h5>
        <br>
        <h5 class="card-text ">quantity : {{history.quantity}}</h5>
        <h5 class="card-text ">Total : <button class='btn btn-warning'>{{history.total_price}}$</button></h5>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}