header{

    width: 100%;
    height: 200px;
    /* background-image: url(/static/images/a_e-tron_181020_1_m.jpg); */
    background-image: url(/static/images/tabea-schimpf-O7WzqmeYoqc-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    
}
#header-informations{
    margin: auto;
    text-align: center;
}
#header-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* display:; */
}



#brand_bar{
    width: 100%;
    background-color: rgb(160, 148, 133);
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}