{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Car name{% endblock title %}


{% block content %}
<h5 class="card-title text-center col-lg-12 my-5"><b>{{car.name}}</b> </h5>
<div class='col-lg-12 d-flex '>

<div class="photo-detail " style='width: 50%;'>
    <img src="{{car.image}}" alt="" style="width: 100%;">
    
</div>
<div class="detail_info m-5 d-flex flex-wrap " style='width: 50%;'>

        <div class="card-body">
            <h5 class="card-title"><b>Cars Available :</b> {{car.quantity}}</h5>
            <h5 class="card-title"><b>Brand :</b> {{car.brand}}</h5>
            <p class="card-text"><b>Details :</b>{{car.detail}} </p>
            <p class="card-text"><b>Price :</b>{{car.price}}$ per unit </p>
        </div>
        <div class='mt-auto col-lg-12'>
            
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ buy_form| crispy }}
                <button type="submit" name="buy_form">Buy Car</button>
            </form>
            
            {% else %}
            <a href="{% url 'login' %}" class='btn btn-success w-100'>Log in to buy for {{total_price}} $</a>
            {% endif %}
            
        </div>
    </div>
</div>


<h1  class="">comment : </h1>

<form action="{% url 'comment' car.id %}" method="post" class='w-50 '>

    {% csrf_token %}
    {{comment_form |crispy}}
    <input type="submit" value="Add comment">

</form>


<h1  class="bg-dark text-white my-5 text-center" id='reviews'>Reviews</h1>
<div class = 'justify-content-center'> 
{% for comment in comments %}
<div class="card m-3 ">
    <div class="card-header">
        <p class="card-title"><b>{{comment.name}}</b></p>
        <small class="card-text">{{comment.time | date:'M d, Y '}}</small>
    </div>
    <div class="card-body">
        <p class="card-text">{{comment.message}}</p>

        <br>
        {% comment %} <small class="card-text">{{comment.time | date:'H:m'}}</small> {% endcomment %}
    </div>
</div>

{% endfor %}
</div>


{% endblock content %}